*{
    padding: 0;
    margin:0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
}

#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

#nleft{
display: flex;
gap: 20px;
 }

#nav a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 800;
}

#nav #centeratag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: 15vw;
    width: 100%;
    padding: 3vw 10vw;
}

#sustain {
    width:10vw;
}

#sustain p {
    opacity: 0.5;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 0px;
    text-transform: capitalize;
}

#susimagewrapper{
    position: relative;
    height: 15vw;
    width: 100%;
    background-color: red;
    overflow:hidden;
}

#susimagewrapper img {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
width: 130%;
height: 130%;
object-fit: cover;
}

#ephemeral {
    position: relative;
    min-height:42vw;
    width: 30vw;
}
#ephemeral #headings{
    position: absolute;
    top: -19%;
    left: -17%;
}
#ephemeral #headings h1{
    font-weight: 400;
    font-size: 6vw;
    letter-spacing: -.5vw;
    line-height: .9;
}
#imgntext{
   height: fit-content;
   width: fit-content;
}
#ephemeral img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

#ephemeral p{
   padding-top: 1.5vw;
    width: 41%;
    font-size: 1.1vw;
    line-height: -1.6vw;
    font-weight: 100;
   color: #494949;
}
#visit{
display: flex;
align-items: center;
gap: 10px;
}
#circlev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
border-radius: 50%;
border: 1px solid #b0b0b0;
}
#circlev i{
    color:#b0b0b0;
}
h4{
    font-weight: 100;
    color: #b0b0b0;
}
#motive{
    margin-top: 7vw;
     padding: 3vw 10vw;
     display: flex;
     justify-content: space-between;
}
#motive p{
    letter-spacing: .5px;
    position: relative;
    right: 0;
    font-size: 1.5vw;
    text-align: right;
    line-height: 1.7;
    width: 70%;
}
#motive span{
    display: inline-block;
    background-color: blue;
    border-radius: 100px;
    margin: 0 8px;
    margin-bottom: -9px;
}
#onespan{
    width: 60px;
    height: 35px;
    background-image: url(./sources/bluegirl.jpg);
    background-size: cover;
    background-position: 0 60%;
}
#twospan{
    width: 90px;
    height: 40px;
    background-image: url(./sources/shaljam.jpg);
    background-size: cover;
    background-position: 0 48%;
}
#threespan{
    width: 70px;
    height: 34px;
    background-image: url(./sources/grass.jpg);
    background-size: cover;
    background-position: 0 60%;
}