*{
    padding: 0;
    margin:0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
}

#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

#nleft{
display: flex;
gap: 20px;
 }

#nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 800;
}

#nav #centeratag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: 15vw;
    width: 100%;
    padding: 3vw 10vw;
}

#sustain {
    width:10vw;
}
#sustain h2{
   font-size: 1.2vw; 
   font-weight: 600;
   opacity: 0.7;
   letter-spacing: -.05vw;
}

#sustain p {
    opacity: 0.5;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 0px;
    text-transform: capitalize;
}

#susimagewrapper{
    position: relative;
    height: 15vw;
    width: 100%;
    background-color: red;
    overflow:hidden;
}

#susimagewrapper img {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
width: 130%;
height: 130%;
object-fit: cover;
}

#ephemeral {
    position: relative;
    min-height:42vw;
    width: 30vw;
}
#ephemeral #headings{
    position: absolute;
    top: -19%;
    left: -17%;
}
#ephemeral #headings h1{
    font-weight: 400;
    font-size: 6vw;
    letter-spacing: -.5vw;
    line-height: .9;
}
#imgntext{
   height: fit-content;
   width: fit-content;
}
#ephemeral img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

#ephemeral p{
   padding-top: 1.5vw;
    width: 41%;
    font-size: 1.1vw;
    line-height: -1.6vw;
    font-weight: 100;
   color: #494949;
}
#visit{
display: flex;
align-items: center;
gap: 10px;
}
#circlev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
border-radius: 50%;
border: 1px solid #b0b0b0;
}
#circlev i{
    color:#b0b0b0;
}
h4{
    font-weight: 100;
    color: #b0b0b0;
}
#motive{
    margin-top: 7vw;
     padding: 3vw 10vw;
     display: flex;
     justify-content: space-between;
}
#motive h3{
    font-weight: 100;
    color: #939090;
    font-size: 1.3vw;
}
#motive p{
    letter-spacing: .5px;
    position: relative;
    right: 0;
    font-size: 1.5vw;
    text-align: right;
    line-height: 1.7;
    width: 70%;
}
#motive span{
    display: inline-block;
    background-color: blue;
    border-radius: 100px;
    margin: 0 8px;
    margin-bottom: -9px;
}
#onespan{
    width: 60px;
    height: 35px;
    background-image: url(./sources/bluegirl.jpg);
    background-size: cover;
    background-position: 0 60%;
}
#twospan{
    width: 90px;
    height: 40px;
    background-image: url(./sources/shaljam.jpg);
    background-size: cover;
    background-position: 0 48%;
}
#threespan{
    width: 70px;
    height: 34px;
    background-image: url(./sources/grass.jpg);
    background-size: cover;
    background-position: 0 60%;
}
#pictures{
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}
#synergy{
    margin-top: 7vw;
    width: 14vw;
}
#synimg{
    width: 100%;
height:22vw;
margin-bottom: 2vw;
}

#synimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#synergy h1{
    font-weight: 100;
    font-size: 2vw;
    letter-spacing: -.08vw;
}

#synergy p{
    margin-top: 1vw;
color: #716f6f;
font-size: .9vw;
width: 83%;
line-height: 12px;
font-weight: 100;
}

#harmony{
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 7vw;
    width: 22vw;
}

#harimg{
    width: 100%;
height:35vw;
margin-bottom: 2vw;
}

#harimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#harmony h1{
    font-weight: 100;
    font-size: 2vw;
    letter-spacing: -.08vw;
}

#harmony p{
   text-align: right;
    margin-top: 1vw;
color: #716f6f;
font-size: 1vw;
width: 75%;
font-weight: 100;
line-height: 15px;
}
#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;
}

#bimg{
    width: 65%;
 height: 60vh;
}

#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}
#btext{
    width: 35%;
    padding: 0px 3vw;
   
}
#btext h1{
    font-size: 2.4vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.1vw;
}

#btext p{
margin-top: 20px;
width: 60%;
font-size: 1.1vw;
font-weight: 100;
color: #716f6f;
}

#future{
    overflow: hidden;
    position: relative;
    display: flex;
    align-self: center;    
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}
#future video{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
}
#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
}
#ftext h1{
font-size: 2vw;
font-weight: 100;
letter-spacing: -2px;
mix-blend-mode: color;
}

#ftext button{
   padding: 1vw 1.3vw;
   font-size: 1vw;
   text-transform:lowercase;
   letter-spacing: -.05vw;
   margin-top: 7px;
   font-weight: 100;
border-radius: 100px;
background-color: #ffffff;
border: 1px solid #aca7a7;
}